/* @override http://localhost:8080/css/estilo.css */


* {
	margin: 0;
	padding: 0;
	color: black;
	font: 100% "Lucida Grande", Lucida, Verdana, sans-serif;
	outline: 0;
}

a{
	color: #919191;
	text-transform: none;
	text-decoration: none;
	border:none;

}

a:hover {
	color: #919191;
	text-decoration: none;
	border-bottom: 1px gray dotted;

}


.button {
	border: none;
}
h2 {
	color: #919191;
	font-weight: bold;
	text-align: center;
	font-size: 1.4em;
}

h3 {
	color: #919191;
	font-weight: bold;
	font-size: 1.1em;

}

.error{
   color:red;
    font-style: italic;
}
.top{
	text-align: right;
}
html {
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
	font-size: 0.7em;
	background: #fafafa;
}

#wrapper {
	width: 980px;
	margin: 0 auto;
}


/*@group HEADER*/
#header {
	margin: 0 auto;
	margin-top: 5px;
	margin-bottom: 20px;
}
#header-wrap {
	width: 980px;
	margin: 0 auto;
	height: 179px;
	margin-top: 10px;
}
#header #logo {
	/*background: url(../img/mylogo.png) 0 0 no-repeat;
	*background: url(../img/mylogo-silver1.png) 0 0 no-repeat;
	*background: url(../img/mylogo-silver2.png) 0 0 no-repeat;*/
	background: url(../img/mylogo2.png) 0 0 no-repeat;
	width: 150px;
	height: 200px;
	float: left;
}

#header #box {
	display: none;
	background: white;
	float: left;
	margin-left: 20px;
}

#box1,
#box2,
#box3 {
	width: 200px;
	background: #fafafa;
	height: 200px;
	float: left;
}
#box1:hover,
#box2:hover,
#box3:hover {

}

/*@end*/

/*@group BANNER*/

#banner.FatSquare {
	width: 180px;
	height: 180px;
	margin-right: 20px;
	margin-left: 10px;
	float: right;
}

/*@end*/

/*@group CONTAINER*/
#container {
	width: 100%;
	float: left;
	margin-bottom: 10px;
}
#container-wrap {
	margin: 0 auto;
	width: 980px;
}

/*@group BAR*/
#bar {
	float: left;
	height: 40px;
	width: 980px;
	/**background: transparent;*/
	position: relative;
	background: url(../img/menubar-gris.png) 0 0 no-repeat ;
/**background-color:red;
*background: url(../img/menubar-SILVER.png) 0 0 no-repeat ;
	/**background: url(../img/menubar-gris-azul2.png) 0 0 no-repeat ;
	**background: url(../img/menubar-azul-gris2.png) 0 0 no-repeat ;  */
}

/*@group SEARCH*/

#bar #search {
	width: 230px;
	float: right;
	padding-left: 4px;
	margin: 0;

}

#bar #search input#searchText {
	float: left;
	border: none;
	height: 19px;
	width: 140px;
	background: url(../img/input_text-trans.png) 0 0 no-repeat ;
	padding-left: 2px;
	padding-right: 10px;
	padding-top: 6px;
}

#bar #search a#doSearch {
	float: left;
	display: block;
	height: 25px;
	width: 31px;
	background: red;
	background: url(../img/boton_buscar-trans.png) 0 0 no-repeat;
	border: none;
	color: #717171;
}



#bar #search #doSearch:hover{
	background: url(../img/boton_buscar-trans.png) 0 -25px no-repeat;
}
#bar #search #doSearch:active,
#bar #search #doSearch:focus{
	background: url(../img/boton_buscar-trans.png) 0 -50px no-repeat;
	outline: none;
}

#bar #search #clearSearch {
	background: url(../img/boton_clearsearch-trans.png) 0 0 no-repeat;
	display: block;
	float: left;
	width: 25px;
	height: 25px;
	border: none;
}
#bar #search #clearSearch:hover {
	background: url(../img/boton_clearsearch-trans.png) 0 -25px no-repeat;
}

/*@end*/




/*@group RETURN*/

#bar #doReturn {

	width: 220px;
	float: left;
	padding-left: 14px;
	margin: 0;

}


#bar #doReturn a#return {
	float: left;
	display: block;
	height: 25px;
	width: 31px;
	background: red;
	background: url(../img/return.png) 0 0 no-repeat;
	border: none;
	color: #717171;
}



#bar #return:hover{
	background: url(../img/return.png) 0 -25px no-repeat;
}
#bar #doReturn #return:active,
#bar #doReturn #return:focus{
	background: url(../img/return.png) 0 -25px no-repeat;
	outline: none;
}


/*@end*/



/*@group TABS*/
#bar .tabs {
	float: left;
	position: relative;
	margin-right: 10px;
	margin-left: 25px;
	background: transparent;
	width: 492px;
	display: none;
}

#bar .tabs li {
	text-align: center;
	float: left;
	list-style: none;
	margin-left: 2px;
	width: 80px;
	height: 30px;
}

#bar ul.tabs li a {
	text-decoration: none !important;
	display: block;
	height: 24px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 7px;
	/*color: #717171;
	*color: #abbdc8;*/
	color: #35455d !important;
	font-weight: bold !important;
	border: none;
}


#bar .tabs li a:hover {
	color: white;

}


#bar .tabs li a:visited {
	color: #35455d;

}

/*@end*/

/*@group LOGIN*/
#bar .login {
	float: left;
	width: 186px;
	padding-left: 7px;
	padding-right: 7px;

}
#bar .login li {
	list-style: none;
	text-align: center;
	padding-top: 0px;
	float: left;
	width: 92px;
	height: 27px;
}
#bar .login li a:link{
	text-align: center;
	margin: 0 3px 0 3px;
	width: 86px;
	display: block;
	height: 22px;
	font-size: 1em;
	font-variant: normal;
	font-weight: bold;
	border: none;
	color: #34455d;
}

#bar .login li a:hover{
	color: white;
}

#bar .login li a:visited{
	text-align: center;
	margin: 0 3px 0 3px;
	width: 86px;
	display: block;
	height: 22px;
	font-size: 1em;
	font-variant: normal;
	font-weight: bold;
	border: none;
	color: #34455d;
}

#bar .login .micuenta{
	padding-top: 6px;
	font-size: 1.05em;

}
#bar .login .logout{
	padding-top: 6px;
	font-size: 1.05em;
}

/*@end*/

/*@end*/

/*@group MAIN*/
#main {
	float: right;
	width: 770px;
}

#main .top {
	background: url(../img/main_top_bg770-transCorner.png) no-repeat 0 10px;
	height: 35px;
	margin-top:10px;
	text-align: left;
	padding-left: 20px;
	font-family: "Lucida Calligraphy";
	font-size: 16px;
	font-weight: bold;
	color: #717171;

}
#main .content {
	float: left;
	width: 764px;
	min-height: 590px;
	padding-left: 6px;
	background: url(../img/main_bg770-trans.png) 0 0 repeat-y;
}

#main .bottom {
	float: left;
	background: url(../img/main_bottom_bg770-transCorner.png) 0 0 no-repeat;
	width: 770px;
	height: 27px;
}


#main .content .noResults {
	width: 760px;
	padding-top: 20px;
	text-align: center;
}

.contactform {width:636px; margin:1.0em 10px 0 20px;}
.contactform fieldset {padding:10px 0 10px 0 !important /*Non-IE6*/; padding:0 /*IE6*/; margin:0 0 20px 0; border:solid 1px rgb(220,220,220);}
.contactform fieldset legend {margin:0 0 0 5px !important /*Non-IE*/; margin:0 0 20px 5px /*IE6*/; padding:0 2px 0 2px; color:rgb(80,80,80); font-weight:bold;  font-size:131%;}
.contactform label.left {float:left; width:150px; margin:0 0 0 10px; padding:2px; font-size:100%; font: 14px;}
.contactform select.combo {width:175px; padding:2px; margin: 2px; border:solid 1px rgb(200,200,200); font-size:100%;}
.contactform select#birthday.combo {width:100px; padding:2px; margin: 2px; border:solid 1px rgb(200,200,200); font-size:100%;}
.contactform select#birthmonth.combo {width:100px; padding:2px; margin: 2px; border:solid 1px rgb(200,200,200); font-size:100%;}
.contactform select#birthyear.combo {width:100px; padding:2px; margin: 2px; border:solid 1px rgb(200,200,200); font-size:100%;}
.contactform select#start_day.combo {width:100px; padding:2px; margin: 2px; border:solid 1px rgb(200,200,200); font-size:100%;}
.contactform select#start_month.combo {width:100px; padding:2px; margin: 2px; border:solid 1px rgb(200,200,200); font-size:100%;}
.contactform select#start_year.combo {width:100px; padding:2px; margin: 2px; border:solid 1px rgb(200,200,200); font-size:100%;}
.contactform select#finish_day.combo {width:100px; padding:2px; margin: 2px; border:solid 1px rgb(200,200,200); font-size:100%;}
.contactform select#finish_month.combo {width:100px; padding:2px; margin: 2px; border:solid 1px rgb(200,200,200); font-size:100%;}
.contactform select#finish_year.combo {width:100px; padding:2px; margin: 2px; border:solid 1px rgb(200,200,200); font-size:100%;}
.contactform input.field {width:200px; padding:2px; margin: 2px; border:solid 1px rgb(200,200,200); font-size:100%;}
.contactform input#cursando.field {width:15px; padding:2px; margin: 2px; border:solid 1px rgb(200,200,200); font-size:100%;}
.contactform input#currently.field {width:15px; padding:2px; margin: 2px; border:solid 1px rgb(200,200,200); font-size:100%;}
.contactform #description_legal{height:100px;}
.cursandoDiv {

}
.contactform #select_left2{ width:200px; margin:0 0 0 10px; border:solid 1px rgb(200,200,200);}
.contactform #select_right2{ width:200px; border:solid 1px rgb(200,200,200);}
.contactform textarea {width:275px; padding:2px; margin: 2px; border:solid 1px rgb(200,200,200); font-size:100%;}
.contactform input.button {float:left;  margin-left:165px !important /*Non-IE6*/; margin-left:118px /*IE6*/; padding:3px !important /*Non-IE6*/; padding:2px /*IE6*/; background:rgb(230,230,230); border:solid 1px rgb(150,150,150); text-align:center; color:rgb(150,150,150); font-size:100%;}
.contactform input.myButton {margin: 2px;}
.contactform input.button:hover {cursor:pointer; border:solid 1px rgb(80,80,80); background:rgb(220,220,220); color:rgb(80,80,80);}



 .content #tabs table {clear:both; width: 671px; margin:2.0em 0 0.2em 20px; table-layout:fixed; border-collapse:collapse; empty-cells:show; background-color:rgb(233,232,244);}
 .content #tabs table th.top {height:3.5em; padding:0 7px 0 7px; empty-cells:show; background-color:rgb(175,175,175); text-align:left; color:rgb(255,255,255); font-weight:bold; font-size:120% !important /*Non-IE6*/; font-size:110% /*IE6*/;}
 .content #tabs table th {height:3.0em; padding:2px 20px 2px 7px; border:solid 2px rgb(245,245,245); background-color:rgb(225,225,225); text-align:left; color:#35455d; font-weight:bold; font-size:120% !important /*Non-IE6*/; font-size:110% /*IE6*/;}
 .content #tabs table td {height: 1.0em; padding:2px 7px 2px 7px; border:solid 2px rgb(245,245,245); background-color:white; text-align:left; font-weight:normal; color:rgb(80,80,80); font-size:120% !important /*Non-IE6*/; font-size:110% /*IE6*/;}

 .content #candidaturas_table  {clear:both; width: 671px; margin:2.0em 0 0.2em 20px; table-layout:fixed; border-collapse:collapse; empty-cells:show; background-color:rgb(233,232,244);}
 .content #candidaturas_table  th.top {height:3.5em; padding:0 7px 0 7px; empty-cells:show; background-color:rgb(175,175,175); text-align:left; color:rgb(255,255,255); font-weight:bold; font-size:120% !important /*Non-IE6*/; font-size:110% /*IE6*/;}
 .content #candidaturas_table  th {height:3.0em; padding:2px 20px 2px 7px; border:solid 2px rgb(245,245,245); background-color:rgb(225,225,225); text-align:left; color:#35455d; font-weight:bold; font-size:120% !important /*Non-IE6*/; font-size:110% /*IE6*/;}
 .content #candidaturas_table  td {height: 1.0em; padding:2px 7px 2px 7px; border:solid 2px rgb(245,245,245); background-color:white; text-align:left; font-weight:normal; color:rgb(80,80,80); font-size:120% !important /*Non-IE6*/; font-size:110% /*IE6*/;}

 .content #inscriptions_table  {clear:both; width: 671px; margin:2.0em 0 0.2em 20px; table-layout:fixed; border-collapse:collapse; empty-cells:show; background-color:rgb(233,232,244);}
 .content #inscriptions_table  th.top {height:3.5em; padding:0 7px 0 7px; empty-cells:show; background-color:rgb(175,175,175); text-align:left; color:rgb(255,255,255); font-weight:bold; font-size:120% !important /*Non-IE6*/; font-size:110% /*IE6*/;}
 .content #inscriptions_table  th {height:3.0em; padding:2px 20px 2px 7px; border:solid 2px rgb(245,245,245); background-color:rgb(225,225,225); text-align:left; color:#35455d; font-weight:bold; font-size:120% !important /*Non-IE6*/; font-size:110% /*IE6*/;}
 .content #inscriptions_table  td {height: 1.0em; padding:2px 7px 2px 7px; border:solid 2px rgb(245,245,245); background-color:white; text-align:left; font-weight:normal; color:rgb(80,80,80); font-size:120% !important /*Non-IE6*/; font-size:110% /*IE6*/;}
.content #inscriptions_table  #small  {width:20px; height:3.0em; padding:2px 20px 2px 7px; border:solid 2px rgb(245,245,245); background-color:rgb(225,225,225); text-align:left; color:#35455d; font-weight:bold; font-size:120% !important /*Non-IE6*/; font-size:110% /*IE6*/;}
.content #inscriptions_table  #smalltd { width:20px; height: 1.0em; padding:2px 7px 2px 7px; border:solid 2px rgb(245,245,245); background-color:white; text-align:left; font-weight:normal; color:rgb(80,80,80); font-size:120% !important /*Non-IE6*/; font-size:110% /*IE6*/;}

 .content #offers_table  {clear:both; width: 671px; margin:2.0em 0 0.2em 20px; table-layout:fixed; border-collapse:collapse; empty-cells:show; background-color:rgb(233,232,244);}
 .content #offers_table  th.top {height:3.5em; padding:0 7px 0 7px; empty-cells:show; background-color:rgb(175,175,175); text-align:left; color:rgb(255,255,255); font-weight:bold; font-size:120% !important /*Non-IE6*/; font-size:110% /*IE6*/;}
 .content #offers_table  th {height:3.0em; padding:2px 20px 2px 7px; border:solid 2px rgb(245,245,245); background-color:rgb(225,225,225); text-align:left; color:#35455d; font-weight:bold; font-size:120% !important /*Non-IE6*/; font-size:110% /*IE6*/;}
 .content #offers_table  td {height: 1.0em; padding:2px 7px 2px 7px; border:solid 2px rgb(245,245,245); background-color:white; text-align:left; font-weight:normal; color:rgb(80,80,80); font-size:120% !important /*Non-IE6*/; font-size:110% /*IE6*/;}


/*@group search*/
#main .content #search{
height: 50px;
}
#main .content #search p{
font-family: "Lucida Calligraphy";
font-size:18px;

}
#main .content #search .network{
	background: url(../img/network-2.png) 0 0 no-repeat;
	float:left;
	height: 50px;
	width: 200px;
	margin-top: 3px;
	margin-left: 0px;

}
#main .content #search #searchform{
	margin: 0 0px 0 auto;
    height:35px;
    padding-top: 13px;
    width: 550px;
	}

#main .content #search input#searchText {
	width:140px; padding:2px; border:solid 1px rgb(200,200,200); font-size:100%;
}
#main .content #search #searchform select.combo {width:175px; padding:2px; border:solid 1px rgb(200,200,200); font-size:100%;
}
#main .content #search #searchform .searchButton {
}

/*@end*/


/*@group results*/
#results{
	margin: 10px;
	height: 543px;
	overflow: hidden;
}

#results a{
	color: black;
	font-size: 12px;
text-decoration: none;
border-bottom: 1px gray dotted;
}

#results a:hover{
	color: #35455d;
text-decoration: none;
border-bottom: 1px #35455d solid;
}

#results table{
width:100%;
text-align: center;
padding-right:6px;
max-height:590px;
 border-collapse:collapse;
 empty-cells:show;

}

#results table .borderright{
border-right:1px #919191 solid;

}

#results table .underline th{
border-bottom:1px #919191 solid;
font-size: 12px;
}
#results table th{
padding:5px;
color:#35455d;
font-weight:bold;
width: 33%;
height:20px;
}
#results table td{

border-bottom:1px #919191;
padding: 3px;
width: 33%;
height:30px;
}

/*@end*/

/*@group CONTENT*/
#content {
	width: 100%;
}


/*@end*/
/*@end*/
/*@end*/


/*@group PAGINATION*/
.pagination {
	float:left;
	width: 90%px;
	margin-left: 5%;
	margin-right: 5%;
	padding-top: 4px;
	padding-bottom: 4px;

}
.pagination a img{
	float:left;
	padding:3px;
	
	border-bottom: none !important;
}
.pagination .num{
		float:left;
	padding:3px;
	height:22px;
	padding-top: 8px;
}


.num a {
	color: #35455d;
	font-weight: bold;
	padding: 0.2em 0.5em;
	margin-right: 1px;
	text-decoration: none !important;
}
.num span {
	color: gray;
	padding: 0.2em 0.5em;
	margin-right: 1px;
}


/*@end*/



/*@end*/

/*@group SIDEBAR*/
#sidebar {

	width: 200px;
	float: left;
	margin-left: 10px;
}

#sidebar .content {
	width: 200px;
}

/*@group CATEGORIES*/
#categories-wrap {
	width: 200px;
}

#cat-title {
	text-align: center;
	padding-top: 8px;
	margin-top: 10px;
	margin: 1px auto;
	list-style: none;
	height: 21px;
	width: 184px;
	color: gray;
	cursor: pointer;
	font-weight: bold;
	font-size: 13px;
}

#categories-wrap .top {
	width: 200px;
	height: 25px;

}
#categories-wrap .content {
	width: 200px;
}
#categories-wrap .bottom {
	width: 200px;
	height: 26px;
}




#categories li, #categories_special li {
	text-align: center;
	padding-top: 8px;
	margin-top: 10px;
	margin: 1px auto;
	list-style: none;
	height: 20px;
	width: 184px;
	background-color: #c1c1c1;
	background: url(../img/cat-trans-azul.png) 0 0px no-repeat;

	color: #b1b1b1;
	font-weight: bold;
	cursor: pointer;
}

#categories li:hover, #categories_special li:hover {
	
	background: url(../img/cat-trans-azul.png) 0 0px no-repeat;
	color: white;
}

#categories li.selected, #categories_special li.selected{
	position: relative;
	left: -24px;
	width: 184px;
	height: 21px;

}


#categories li.selected:hover,
#categories li.selected a:hover,
#categories_special li.selected:hover,
#categories_special li.selected a:hover{
color: #b1b1b1;

}

#categories li.allSelected,
#categories li.allSelected:hover,
#categories_special li.allSelected,
#categories_special li.allSelected:hover {
	position: static;
	color: #b1b1b1;
	
}

#categories a,
#categories_special a {
	border: none;
}

/*@end*/

/*@end*/

/*@group LOCATIONBAR*/
#locationBar {
	clear: both;
	width: 100%;
	margin-bottom: 10px;
}
#locationBar #locationBar-wrap {
	margin-bottom: 5px;
	border: 1px solid #ddd;
	background: white;
	width: 980px;
	height: 50px;
	margin: 0 auto;
}
/*@end*/

/*@group FOOTER*/
#footer{
	float: left;
	clear: both;
	width: 100%;
	margin-bottom: 10px;

}
#footer-wrap {
	margin: 0 auto;
	width: 980px;
	border: none;
}

#footer-wrap .top{
	height: 20px;
	background: url(../img/large_top-transCorner.png);
}
#footer-wrap .content{
    background-color:red;
    height:20px;
	padding-left: 10px;
	background: url(../img/large_middle-trans.png) 0 0 repeat-y;
	text-align: center;
}

#footer-wrap .bottom{
	height: 26px;
	background: url(../img/large_bottom-transCorner.png);
}
#footer-wrap .content .info{ margin-left:275px; }
#footer-wrap .content .info li{
	text-align: center;
	float: left;
	list-style: none;
	margin-left: 10px;
}
#footer-wrap .content .info li a{
	display: block;
	height: 24px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 7px;
	color: #35455d !important;
	font-weight: bold !important;
    border: none;
    
}





/*@end*/
/*@end*/

/*@group CANDIDATE*/
/*@group LOGIN */
.logincandidate{
	width:50%;
	float:left;
	border-right: 1px solid #919191;
}
.logincandidate p{
	margin: 10px;
}

.logincandidate a#forgotpsswd_1 {
	font-size: 12px;
	font-weight: bold;
}

.logincandidate label.topp{
	font-size: 12px;
}
.logincandidate input{
	height: 18px;
}
.logincandidate h3 {
	color: #35455d;
	font-weight: bold;
	font-size: 1.1em;
	text-align: center;

}
.registercandidate{
	float:right;
	width:48%;
}

.registercandidate a#reg_1 {
	font-size: 12px;
	font-weight: bold;
}

.registercandidate a:hover#reg_1 {
	text-decoration: none;
	border-bottom: 1px gray dotted;
}
.registercandidate h3 {
	color: #35455d;
	font-weight: bold;
	font-size: 1.1em;
	text-align: center;

}

.registercandidate #characteristics {
		margin:10px;
		font-size: 12px;
}
.content h2{
	margin:20px;
}
/*@group REGISTER*/
.registerformcandidate{
	text-align: left;
	width: 500px;

	margin: 0 auto;

}
.registerformcandidate p{
	margin: 10px;
}
.registerformcandidate label.left {float:left; width: 130px; margin: 0 10px; padding:2px; font-size:100%;}

.registerformcandidate input{
	height: 18px;
	margin-left: 5px;
}



/*@end*/
/*@end*/

/*@end*/

/*@group COMPANY*/
/*@group LOGIN */
.logincompany{
	width:50%;
	float:left;
	border-right: 1px #919191 solid;
}

.logincompany a#forgotpsswd_1 {
	font-size: 12px;
	font-weight: bold;
}



.logincompany p{
	margin: 10px;
}
.logincompany label.topp{
	font-size: 13px;
}
.logincompany input{
	height: 18px;
}
.logincompany h3 {
	color: #35455d;
	font-weight: bold;
	font-size: 1.1em;
	text-align: center;

}
.registercompany{
	float:right;
	width:48%;
}
.registercompany a {
	font-size: 12px;
	font-weight: bold;
}

.registercompany a:hover {
    font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	border-bottom: 1px gray dotted;
}

.registercompany h3 {
	color: #35455d;
	font-weight: bold;
	font-size: 1.1em;
	text-align: center;

}

.registercompany #characteristics {
		margin:10px;
	font-size: 13px;
}
.content h2{
	margin:20px;
}



/*@end*/
/*@group PERSONAL MENU */

.curriculumLink {
	margin: 20px;
}
.curriculumLink #Linktitle{
	color: #35455d;
	font-weight: bold;
	font-size: 1.1em;
}
.curriculumLink ul{
	list-style-image: none;
}
.curriculumLink li {
	margin-left: 20px;
	list-style-type: none;

}

.curriculumLink li a{
	color: black;
	font-size: 12px;

}

.candidanciesLink {
	margin: 20px;
}

.candidanciesLink a{
	color: #35455d;
	font-weight: bold;
	font-size: 1.1em;
}



/*@end*/

/*@group PERSONAL MENU COMPANY*/

.offersLink {
	margin: 20px;
}



.offersLink #Linktitle{
	color: #35455d;
	font-weight: bold;
	font-size: 1.1em;
}


.insertOffersLink {
	margin: 20px;
}

.insertOffersLink #Linktitle{
	color: #35455d;
	font-weight: bold;
	font-size: 1.1em;
}

.inscriptionsLink {
	margin: 20px;
}
.inscriptionsLink #Linktitle{
    color: #35455d;
	font-weight: bold;
	font-size: 1.1em;

}


/*@end*/

/*@group Tabs*/
/*absolutely necessary for tabs*/
.ui-tabs-hide {
    display: none;
}

.tab_format .ui-tabs-selected a:link, .tab_format .ui-tabs-selected a:visited,
.tab_format .ui-tabs-disabled a:link, .tab_format .ui-tabs-disabled a:visited { /* @ Opera, use pseudo classes otherwise it confuses cursor... */
    cursor: pointer;
}
.tab_format a:hover, .tab_format a:focus, .tab_format a:active,
.tab_format .ui-tabs-unselect a:hover, .tab_format .ui-tabs-unselect a:focus, .ui-tabs-nav .ui-tabs-unselect a:active { /* @ Opera, we need to be explicit again here now... */
    cursor: pointer;
}

.ui-tabs-disabled {

  /*  opacity: .4;
    filter: alpha(opacity=40); */
}

/*absolutely necessary for tabs*/
.ui-tabs-panel {
    clear: left;
    padding: 10px;
    background: #fff; /* declare background color for container to avoid distorted fonts in IE while fading */
}

/* Additional IE specific bug fixes... */
* html .tab_format { /* auto clear @ IE 6 & IE 7 Quirks Mode */
    display: inline-block;
}
*:first-child+html .tab_format  { /* auto clear @ IE 7 Standards Mode - do not group selectors, otherwise IE 6 will ignore complete rule (because of the unknown + combinator)... */
    display: inline-block;
}


/*absolutely necessary for tabs*/
.tab_format li {
    float: left;
    margin: 5px;
    min-width: 84px;
	text-align: left;
	margin-left: 10px!important;
}

#tabs{
width: 100%;
}
#tabs ul.tab_format1  {
	height:50px;
	width:700px;
	margin-left:100px;
}

#tabs ul.tab_format1 li {
	float:left;
	margin: 5px;
	list-style-type: none;
	background: url(../img/cat-trans-small.png) 0 0 no-repeat;
	width: 115px;
	height: 20px;
	padding: 5px;
	padding-top: 6px;
	text-align: center;
}
#tabs ul.tab_format1 li a span{
	color: #35455d;
	font-weight: bold;
	font-size: 1.1em;
}

/*@end*/

#main div.content div.displayOffer {width:636px; margin:1.0em 10px 0 20px;  font-size: 12px;}
#main div.content div.displayOffer .row{
	float:left;
}
#main div.content div.displayOffer fieldset {padding:10px 0 10px 0 !important /*Non-IE6*/; padding:0 /*IE6*/; margin:0 0 20px 0; border:solid 1px rgb(220,220,220);}
#main div.content div.displayOffer fieldset legend {margin: 0 0 20px 5px; padding:0 2px 0 2px; color: #35455d; font-weight:bold;  font-size:131%;}
#main div.content div.displayOffer .left { color: #35455d; font-weight: bold; float:left; width: 168px; margin:0 0 0 10px; padding:2px; font-size:100%; font: 14px;}
#main div.content div.displayOffer .right { float: left; margin:0 0 0 10px; padding:2px; font-size:100%; font: 14px;
	width: 420px;
}
#main div.content div.displayOffer .space{
	height:20px;
}
div.subscribe_button{
	width: 100%;
	text-align: center;
}
div.subscribe_button a{
	margin-left: 50%;
	margin-right: 50%;

}

.allplus{
float:right;
width: 200px;
}
.plus{
	float:left;
}

.plus img {
	width: 15px;
	height: 14px;
}

.plusLink a{
	font-weight: bold;
}

.outer-continue{
float:right;
width: 90px;
height:20px;
}
.arrow{
	float:right;
}

.arrow img {
	width: 20px;
	height: 20px;
}
.continuar{
	float:left;
	height:20px;
	vertical-align:middle;
}
.continuar a{
	font-weight: bold;
	font-size: 12px;
	height:20px;
	vertical-align:middle;
}

hr.separator {
	float:left;
	width:90%;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 1px dotted rgb(220,220,220);
	margin-left: 5%;
	margin-right: 5%;

}



