/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> global settings needed for thickbox <<<-----------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
*{padding: 0; margin: 0;}

/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> thickbox specific link and font settings <<<------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
#TB_window {
	font: 12px Arial, Helvetica, sans-serif;
	color: #333333;
	overflow: hidden
}

#TB_secondLine {
	font: 10px Arial, Helvetica, sans-serif;
	color:#666666;
}
#TB_closeWindowButton {
	float: right;
	width: 15px;
	height: 15px;
	border: none;
}

#TB_window a:link {
	background: url(../img/close.png) 0 0 no-repeat;
	color: transparent;
}
#TB_window a:visited {
	background: url(../img/close.png) 0 0 no-repeat;
	color: transparent;}
#TB_window a:hover {
	background: url(../img/close.png) 0 -15px no-repeat;
	color: transparent;}
#TB_window a:active {
	background: url(../img/close.png) 0 0 no-repeat;
	color: transparent;}
#TB_window a:focus{
	background: url(../img/close.png) 0 0 no-repeat;
	color: transparent;}

/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> thickbox settings <<<-----------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
#TB_overlay {
	position: fixed;
	z-index:100;
	top: 0px;
	left: 0px;
	width:100%;
	min-height:100%;
	height:auto;
}

.TB_overlayMacFFBGHack {
	position: fixed;
	background-color:  rgb(0,0,0);
	background-image: url(../img/macFFBgHack.png);
	filter:alpha(opacity=60);
	-moz-opacity: 0.60;
	opacity: 0.60;
}
.TB_overlayBG {
	position: fixed;
	background-color: rgb(0,0,0);
	background-image: url(../img/macFFBgHack.png);
	filter:alpha(opacity=60);
	-xmoz-opacity: 0.60;
	opacity: 0.60;
}
 

* html #TB_overlay {/* ie6 hack */
     position: absolute;
     height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight);
 /*  position: absolute;
     height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + "px");*/
}

#TB_window {
	position: fixed;
	z-index: 102;
	color:#000000;
	display:none;
	border: 1px solid #dedede;
	padding-top: 4px;
	padding-right: 3px;
	padding-bottom: 5px;
	padding-left: 4px;
	text-align:left;
	top:50%;
	left:50%;
	background: rgba(254,248,236,0.36);
}


* html #TB_window { /* ie6 hack */
position: absolute;
margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop));

/*margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + "px");
*/
}

#TB_window img#TB_Image {
	display:block;
	margin: 15px 0 0 15px;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #666;
	border-left: 1px solid #666;
}

#TB_caption{
	height:25px;
	padding:7px 30px 10px 25px;
	float:left;
}

#TB_closeWindow{
	height:25px;
	padding:11px 25px 10px 0;
	float:right;
}

#TB_closeAjaxWindow{
	padding:5px 10px 5px 0;
	margin-bottom:1px;
	text-align:right;
	float:right;
	color: transparent;
}

#TB_ajaxWindowTitle{
	float:left;
	padding:5px 0 5px 10px;
	margin-bottom:1px;
	color: ff5f09;
	font-weight: bold;
}

#TB_title{
	background: #e3e3e3 url(../img/thickbox_title.png) repeat-x;
	height:25px;
	margin-right: 1px;
	
}

#TB_ajaxContent{
	clear:both;
	padding:2px 15px 15px 15px;
	overflow:auto;
	text-align:left;
	line-height:1.4em;
}

#TB_ajaxContent.TB_modal{
	padding:15px;
}

#TB_ajaxContent p{
	padding:5px 0px 5px 0px;
}

#TB_load{
	position: fixed;
	display:none;
	height:13px;
	width:208px;
	z-index:103;
	top: 50%;
	left: 50%;
	margin: -6px 0 0 -104px; /* -height/2 0 0 -width/2 */
}


* html #TB_load { /* ie6 hack */
position: absolute;
margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop));
/*margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + "px");
*/
}

#TB_HideSelect{
	z-index:99;
	position:fixed;
	top: 0;
	left: 0;
	background-color:#fff;
	border:none;
	filter:alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
	height:100%;
	width:100%;
}


* html #TB_HideSelect {  /* ie6 hack */  
  position: absolute;
    height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight);
/*
  height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + "px");
*/
}

#TB_iframeContent{
	background-color: transparent;
	clear:both;
	border:none;
	margin-top:1px;
	overflow: hidden;
}
