<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>

    <title>CastellonEmpleo - Tu pagina de empleo en Castellon</title><%--<title>$Revision: 1.1.1.1 $ / ${store.storeTitle}</title>--%>
    <link rel="stylesheet" href="../css/estilo.css">
    <link rel="stylesheet" href="../css/lightbox.css" type="text/css" media="screen" />

    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="description" content="CastellónEmpleo - Tu pagina de empleo en Castellon. Encuentra trabajo en Castellón. En Castellón Empleo tenemos una bolsa de empleo centrada en la provincia de Castellón">
    <meta name="keywords" content="castellon, trabajar, empleo, oferta, trabajo, ofertas de trabajo, ofertas de empleo, buscar trabajo, busco empleo, trabajar en  castellon, busco trabajo en castellon, busco trabajo, ofertas de trabajo en castellon, ofertas de empleo en castellon">
    <script type="text/javascript" src="../js/jquery.js" ></script>
    <script type="text/javascript" src="../js/swfobject.js" ></script>
    <script type="text/javascript" src="../js/interface.js" ></script>
    <script type="text/javascript" src="../js/prototype.js"></script>
    <script type="text/javascript" src="../js/scriptaculous.js?load=effects,builder"></script>
    <script type="text/javascript" src="../js/lightbox.js"></script>

</head>
<body>

    <div id="header">
        <div id="header-wrap">
            <div id="logo"></div>
            <div id="box">
                <div id="box1">Encuentra trabajo en Castellón</div>
                <div id="box2">En CastellonEmpleo tenemos una bolsa de empleo centrada en la provincia de Castellón.</div>
                <div id="box3">Da de alta tu curriculum y empieza a buscar trabajo. </div>
            </div>
            <div id="banner" class="FatSquare">

            </div>
        </div>
    </div>


    <div id="container">
        <div id="container-wrap">
            <div id="bar">


            </div>

            <div>

                <p align="justify">    <font size="3" face="Times New Roman">Aviso
                legal.</font></p>
                <h3 align="justify">    <font size="2" face="Times New Roman"><b>Información
                Legal</b></font></h3>

                <p align="justify">    <font size="2" face="Times New Roman">IMHOTEP
                        S.L. con domicilio en Castellón, España, en la Calle Prim 12
                        3º D; provista de CIF: A-12750410 (en adelante &quot; IMHOTEP &quot;)
                es la titular y propietaria del Sitio Web </font><a href="http://www.castellonempleo.es/" target="_blank"><font color="#0000FF" size="2" face="Times New Roman"><u>www.castellonempleo.es</u></font></a><font size="2" face="Times New Roman">   (en adelante &quot;Sitio Web&quot;).</font></p>
                <p align="justify">    <font size="2" face="Times New Roman">IMHOTEP
                        se reserva la posibilidad de modificar sin previo aviso, el diseño,
                        presentación y/o configuración de este Sitio Web, así como algunos
                        o todos los servicios, y añadir servicios nuevos. IMHOTEP entiende
                        por candidatos, los usuarios personas físicas que buscan empleo, que
                        utilicen los servicios de <a href="http://castellonempleo.es" target="_blank">castellonempleo.es</a><i><u> </u></i>
                y acceda al Sitio Web del que es titular, </font></p>

                <h3 align="justify">    <font size="2" face="Times New Roman"><b>Objeto</b></font></h3>
                <p align="justify">    <font size="2" face="Times New Roman">Las
                        presentes Condiciones Legales regulan el acceso y el uso, por parte
                        del candidato de los servicios del Sitio Web. La finalidad de <a href="http://castellonempleo.es" target="_blank">castellonempleo.es</a>
                        es la de proporcionar una plataforma que permite el encuentro entre
                        empresas y candidatos en un entorno online. En este sentido, IMHOTEP
                        tiene como objeto facilitar al candidato que pueda acceder a ofertas
                        de empleo y a las empresas que puedan acceder a C.V. de los candidatos
                        registrados en <u><a href="http://castellonempleo.es" target="_blank">castellonempleo.es</a> </u>
                . </font></p>
                <p align="justify">    <font size="2" face="Times New Roman">IMHOTEP
                        se encuentra en continua evolución y desarrollo de nuevas herramientas
                que aporten valor al candidato registrado en <a href="http://castellonempleo.es" target="_blank">castellonempleo.es</a>. </font></p>

                <p align="justify">    <font size="2" face="Times New Roman">El
                        uso del Sitio Web implica al candidato la plena aceptación de las disposiciones
                        incluidas en las Condiciones Legales en la versión publicada por CASTELLON
                EMPLEO en el momento en que el Candidato accede al Sitio Web. </font></p>
                <p align="justify">    <font size="2" face="Times New Roman">IMHOTEP
                recomienda leer periódicamente las presentes Condiciones. </font></p>
                <p align="justify">    <font size="2" face="Times New Roman">La
                        utilización de ciertos servicios ofrecidos a los Candidatos a través
                        del Sitio Web puede encontrarse sometidas a condiciones particulares
                        propias que, según los casos sustituyen, completan y/o modifican las
                        presentes Condiciones Legales. Por lo tanto, con anterioridad a la utilización
                        de dichos servicios, el Candidato también debe leer atentamente y aceptar
                asimismo las correspondientes Condiciones particulares propias. </font></p>
                <p align="justify">    <font size="2" face="Times New Roman">IMHOTEP
                        podrá eliminar del Sitio Web contenidos ilegales o presuntamente ilegales
                sin previo aviso. </font></p>
                <p align="justify">    <font size="2" face="Times New Roman">El
                        candidato reconoce que técnicamente no es posible lograr una disponibilidad
                        del Sitio Web al 100%. Sin embargo, IMHOTEP se esforzará por mantener
                        disponible el Sitio Web de la forma más constante posible. Especialmente
                        por razones de mantenimiento, seguridad o capacidad, así como a causa
                        de acontecimientos sobre los que no pueda influir IMHOTEP  (por ejemplo
                        anomalías de redes públicas de comunicación, cortes de electricidad,
                        etc.), pueden producirse breves anomalías o la suspensión pasajera
                de los servicios de CASTELLON EMPLEO.</font></p>
                <h3 align="justify">    <font size="2" face="Times New Roman"><b>Servicios
                de CASTELLON EMPLEO</b></font></h3>

                <p align="justify">    <font size="2" face="Times New Roman">Se
                enumeran los servicios que CASTELLON EMPLEO  presta al candidato:</font></p>
                <ul type="DISC" style="margin-left:40px;">
                    <li><font size="2" face="Times New Roman"><b>Inscripción
                                del candidato de forma gratuita en la bolsa de empleo electrónica
                            <a href="http://castellonempleo.es" target="_blank">castellonempleo.es</a></b> <b>a través del proceso de alta de candidatos,
                    para el encuentro con empresas.</b> </font></li>
                    <li><font size="2" face="Times New Roman"><b>Selección del
                    nivel de privacidad del CV. </b></font></li>
                    <li><font size="2" face="Times New Roman"><b>Servicios y herramientas
                            para la gestión de la búsqueda de empleo a través de la plataforma</b><u> </u>

                    <b><u><a href="http://castellonempleo.es" target="_blank">castellonempleo.es</a> </u>.</b> <b> </b></font></li>
                    <li><font size="2" face="Times New Roman"><b>Página principal
                    personalizada en el menú privado. </b></font></li>
                    <li><font size="2" face="Times New Roman"><b>Ser buscado (de
                                acuerdo con el nivel de privacidad seleccionado) a través de la base
                                de datos de Candidatos registrados en
                            <u><a href="http://castellonempleo.es" target="_blank">castellonempleo.es</a></u></b><u> </u>
                    . <b> </b></font></li>

                </ul>
                <h3 align="justify">    <font size="2" face="Times New Roman"><b>Obligaciones
                del Candidato</b></font></h3>
                <p align="justify">    <font size="2" face="Times New Roman">El
                        candidato se compromete a hacer un uso diligente del Sitio Web y de
                        los servicios accesibles desde el mismo, con total sujeción a la Ley,
                        a las buenas costumbres y las presentes Condiciones Legales y, en su
                        caso, condiciones particulares, así como mantener el debido respeto
                a los demás candidatos. </font></p>
                <p align="justify">    <font size="2" face="Times New Roman">CASTELLON
                        EMPLEO  condiciona la utilización de la mayoría de sus servicios a
                        la previa cumplimentación del correspondiente registro de Candidato
                al Sitio Web de conformidad con la Ley 15/99 de Protección de Datos. </font></p>
                <p align="justify">    <font size="2" face="Times New Roman">El
                        candidato debe seleccionar el identificador (ID o login) y la contraseña
                        que él desee, comprometiéndose a conservarla y a usarla con la diligencia
                debida. </font></p>
                <p align="justify">    <font size="2" face="Times New Roman">El
                        uso de la contraseña es personal e intransferible, no estando permitida
                        la cesión, ni siquiera temporal, a terceros. En tal sentido, el Candidato
                        deberá adoptar las medidas necesarias para la custodia de la contraseña
                        por él seleccionada, evitando el uso de la misma por terceros. En consecuencia,
                        el Candidato es el único responsable de la utilización que, de su
                        contraseña se realice, con completa indemnidad para IMHOTEP.  En el
                        supuesto de que el Candidato conozca o sospeche del uso de su contraseña
                        por terceros deberá poner tal circunstancia en conocimiento de IMHOTEP
                con la mayor brevedad. </font></p>
                <p align="justify">    <font size="2" face="Times New Roman">El
                        citado registro se efectuará en la forma expresamente indicada en el
                propio servicio.</font></p>

                <p align="justify">    <font size="2" face="Times New Roman">Toda
                        la información que facilite el Candidato a través de los servicios
                        deberá ser veraz. A estos efectos, el Candidato garantiza la autenticidad
                        de todos aquellos datos que comunique como consecuencia de la cumplimentación
                de los formularios necesarios para la suscripción de los Servicios.</font></p>
                <p align="justify">    <font size="2" face="Times New Roman">De
                        igual forma, será responsabilidad del Candidato mantener toda la información
                        facilitada a CASTELLON EMPLEO  permanentemente actualizada de forma
                        que responda, en cada momento a la situación real del Candidato. En
                        todo caso el Candidato será el único responsable de las manifestaciones
                        falsas o inexactas que realice y de los perjuicios que cause a CASTELLON
                EMPLEO  o a terceros por la información que facilite.</font></p>
                <p align="justify">    <font size="2" face="Times New Roman">El
                        Candidato se obliga a respetar las leyes aplicables y los derechos de
                        terceros al utilizar los contenidos y servicios del Sitio Web. Asimismo
                        queda prohibida la reproducción, distribución, transmisión, adaptación
                        o modificación, por cualquier medio y en cualquier forma, de los contenidos
                        del Sitio Web (textos, diseños, gráficos, informaciones, bases de
                        datos, archivos de sonido y/o imagen, logos, etc.) y demás elementos
                        de este Sitio Web, salvo autorización previa de sus legítimos titulares
                o cuando así resulte permitido por la ley.</font></p>
                <p align="justify">    <font size="2" face="Times New Roman">De
                        modo ilustrativo y no limitativo, está prohibido: utilizar contenidos
                        injuriosos o calumniosos, con independencia de que esos contenidos afecten
                        a otros candidatos o a otras personas o empresas, utilizar contenidos
                        pornográficos o que vulneren las leyes de protección de menores, o
                        hacer publicidad, ofrecer o distribuir productos pornográficos o que
                        vulneren las leyes de protección de menores, molestar a otros candidatos
                        (especialmente mediante spam),utilizar contenidos protegidos legalmente
                        (p. ej. por la legislación relativa a la propiedad intelectual, a marcas,
                        a patentes, a modelos de utilidad o a modelos estéticos) sin tener
                        derecho a ello, o hacer publicidad, ofrecer o distribuir bienes o servicios
                        protegidos legalmente, así como realizar o fomentar acciones contrarias
                        a la libre competencia, incluidas las encaminadas a la captación de
                clientes progresiva (como sistemas en cadena, de bola de nieve o piramidales).</font></p>
                <p align="justify">    <font size="2" face="Times New Roman">Se
                prohíbe al candidato las siguientes acciones:</font></p>
                <ul type="DISC" style="margin-left:40px;">
                    <li><font size="2" face="Times New Roman">Utilizar mecanismos,
                    software o scripts en relación con la utilización del Sitio Web. </font></li>

                    <li><font size="2" face="Times New Roman">Bloquear, sobrescribir,
                            modificar o copiar, a no ser que ello sea necesario para la correcta
                            utilización de los servicios de los sitios web. Por ejemplo, el copiado
                            mediante tecnologías de buscador tipo &quot;Robot/Crawler&quot; no
                            es necesario para la correcta utilización de los servicios del Sitio
                    Web, por lo que está prohibido expresamente. </font></li>
                    <li><font size="2" face="Times New Roman">Difundir, reproducir
                            o comunicar públicamente contenidos del Sitio Web de CASTELLON EMPLEO,
                            de candidatos o terceros, sin la autorización previa del titular de
                    los derechos. </font></li>
                    <li><font size="2" face="Times New Roman">Toda acción apta
                            para perjudicar la funcionalidad de la infraestructura de CASTELLON
                    EMPLEO, especialmente para sobrecargarla. </font></li>
                    <li><font size="2" face="Times New Roman">A utilizar cualquiera
                            de los materiales e informaciones contenidos en este Sitio Web con fines
                            ilícitos y expresamente prohibidos en las presentes Condiciones Legales,
                            así como a las condiciones particulares que, en su caso, se habiliten
                            que resulten contrarios a los derechos e intereses de IMHOTEP, sus miembros
                            y/o terceros, y deberá responder frente a los mismos en caso de contravenir
                            o incumplir dichas obligaciones y/o que, de cualquier modo (incluida
                            la introducción o difusión de &quot;virus informáticos&quot;), dañe,
                            inutilice, sobrecargue, deteriore o impida la normal utilización de
                            los materiales e informaciones contenidos en el Sitio Web, los sistemas
                            de información o los documentos, archivos y toda clase de contenidos
                            almacenados en cualquier equipo informático (hacking) de IMHOTEP, de
                    sus miembros o de cualquier candidato. </font></li>

                </ul>
                <p align="justify">    <font size="2" face="Times New Roman">El
                        Candidato que incumpla intencional o culpablemente cualquiera de las
                        precedentes obligaciones responderá de todos los daños y perjuicios
                que cause.</font></p>
                <h3 align="justify">    <font size="2" face="Times New Roman"><b>Contenido
                facilitado por el Candidato</b></font></h3>
                <p align="justify">    <font size="2" face="Times New Roman">IMHOTEP
                        no permite la distribución, gestión o comunicación de contenidos
                        que deterioren la calidad del servicio. Está prohibida la facilitación
                de contenidos:</font></p>
                <ul type="DISC" style="margin-left:40px;">
                    <li><font size="2" face="Times New Roman">Que sean presuntamente
                            ilícitos por la normativa nacional, comunitaria o internacional o que
                            realicen actividades presuntamente ilícitas o contravengan los principios
                    de la buena fe. </font></li>
                    <li><font size="2" face="Times New Roman">Que no reúnan los
                    parámetros de calidad establecidos en  CASTELLON EMPLEO. </font></li>

                    <li><font size="2" face="Times New Roman">Que atenten contra
                            los derechos fundamentales de las personas, falten a la cortesía en
                            la red, molesten o puedan generar opiniones negativas en nuestros candidatos
                            o terceros y en general cualesquiera contenidos que IMHOTEP  considere
                    no apropiados. </font></li>
                    <li><font size="2" face="Times New Roman">Y en general que
                            contravengan los principios de legalidad, honradez, responsabilidad,
                            protección de la dignidad humana, protección de menores, protección
                            del orden público, la protección de la vida privada, la protección
                    del consumidor y los derechos de propiedad intelectual e industrial. </font></li>
                </ul>
                <p align="justify">    <font size="2" face="Times New Roman">Asimismo,
                        IMHOTEP se reserva la potestad de retirar, sin previo aviso del Sitio
                        Web aquellos contenidos que se consideren no apropiados a las características
                y finalidades de CASTELLON EMPLEO.</font></p>
                <p align="justify">    <font size="2" face="Times New Roman">IMHOTEP
                        no puede controlar todos y cada uno de los contenidos publicados, de
                manera que no puede asumir la responsabilidad sobre los contenidos. </font></p>
                <p align="justify">    <font size="2" face="Times New Roman">De
                        todas maneras, periódicamente se revisan los contenidos insertados
                        y publicados para asegurar los principios de calidad de IMHOTEP  así
                como las normas aquí indicadas. </font></p>
                <p align="justify">    <font size="2" face="Times New Roman">Cualquier
                        candidato que inserte un contenido que contravenga la legalidad vigente
                        debe saber que deberá asumir la responsabilidad de los perjuicios y
                consecuencias derivadas de la misma.</font></p>

                <h3 align="justify">    <font size="2" face="Times New Roman"><b>Derechos
                de Propiedad Intelectual e Industrial</b></font></h3>
                <p align="justify">    <font size="2" face="Times New Roman">Quedan
                reservados todos los derechos de explotación.</font></p>
                <p align="justify">    <font size="2" face="Times New Roman">Este
                        Sitio Web se rige por las leyes españolas y se encuentra protegido
                        por la legislación nacional e internacional sobre propiedad intelectual
                e industrial.</font></p>
                <p align="justify">    <font size="2" face="Times New Roman">Los
                        textos, diseños, imágenes, audio, bases de datos, logos, estructura,
                        marcas y demás elementos de este sitio están protegidos por los derechos
                        de propiedad intelectual e industrial de IMHOTEP   y/o de terceros titulares
                        de los mismos que han autorizado debidamente su inclusión en el Sitio
                        Web ya sea mediante el envío del formulario de registro o mediante
                        los acuerdos de cesión de derechos de explotación que éstos han estipulado
                con IMHOTEP.</font></p>
                <p align="justify">    <font size="2" face="Times New Roman">Cualquier
                        reproducción, transmisión, adaptación, traducción, modificación,
                        comunicación al público, o cualquier otra explotación de todo o parte
                        del contenido de este Sitio Web, efectuada de cualquier forma o por
                        cualquier medio, electrónico, mecánico u otro, están estrictamente
                        prohibidos salvo autorización previa por escrito de IMHOTEP  o de terceros
                        titulares. Cualquier infracción de estos derechos puede dar lugar a
                procedimientos extrajudiciales o judiciales civiles o penales que correspondan.</font></p>
                <p align="justify">    <font size="2" face="Times New Roman">IMHOTEP
                        no concede ninguna licencia o autorización de uso de ninguna clase
                        sobre sus derechos de propiedad intelectual e industrial o sobre cualquier
                        otra propiedad o derecho relacionado con el Portal, los servicios o
                los contenidos del mismo.</font></p>

                <p align="justify">    <font size="2" face="Times New Roman">La
                        legitimidad de los derechos de propiedad intelectual o industrial correspondientes
                        a los contenidos aportados por los candidatos es de la exclusiva responsabilidad
                de los mismos.</font></p>
                <h3 align="justify">    <font size="2" face="Times New Roman"><b>Política
                de Privacidad y Protección de datos</b></font></h3>
                <p align="justify">    <font size="2" face="Times New Roman">IMHOTEP
                        es consciente de que para los candidatos es sumamente importante que
                        se dé un tratamiento responsable en la gestión de los datos personales
                        de los candidatos. Por ello IMHOTEP cumple todas las normas legales
                        de protección de datos que sean aplicables y establece mecanismos y
                procedimientos de seguridad para la gestión de los datos de los candidatos.</font></p>
                <h3 align="justify">    <font size="2" face="Times New Roman"><b>Derecho
                de Información para candidatos.</b></font></h3>
                <p align="justify">    <font size="2" face="Times New Roman">Si
                        el candidato decide registrarse en CASTELLON EMPLEO .ES, se solicitarán
                        los datos necesarios para la consecución de los fines y finalidades
                        a los que está destinado el Sitio Web. Los datos de cumplimentación
                        obligatoria se especifican en el propio formulario, y su negativa a
                        suministrarlos implicará no poderse dar de alta en el portal de CASTELLON
                EMPLEO .ES.</font></p>
                <p align="justify">    <font size="2" face="Times New Roman">Para
                        poder dar de alta al candidato, éste deberá completar un formulario
                        electrónico inicial y aceptar las reglas de uso y política de privacidad
                        de CASTELLON EMPLEO .ES. Seguidamente, el candidato recibirá un correo
                        electrónico a la dirección de correo electrónico por él indicada,
                        con la finalidad de validar el proceso de alta y verificar la dirección
                        de correo electrónico. Si no se verifica la dirección de correo electrónico,
                        el alta del candidato no será tramitada y se procederá a su cancelación
                en el plazo de 68 horas.</font></p>

                <p align="justify">    <font size="2" face="Times New Roman">Tramitada
                        el alta, y para poder prestar los servicios que ofrece CASTELLON EMPLEO
                        .ES, se requiere que los candidatos cumplimenten información adicional
                        y la inclusión de su currículum, lo cual conlleva facilitar datos
                        de carácter personal necesarios para las funciones y finalidades descritas.
                        El tratamiento de los datos de los candidatos está enfocado a la realización
                        de los servicios del portal de CASTELLON EMPLEO .ES, siempre dentro
                del marco normativo establecido.</font></p>
                <p align="justify">    <font size="2" face="Times New Roman">De
                        conformidad con lo establecido en la Ley Orgánica 15/1999, de 13 de
                        diciembre, de protección de datos de carácter personal, se informa
                        al candidato que los datos personales que facilite, incluidos los datos
                        curriculares, serán incorporados a un fichero registrado ante la Agencia
                Española de Protección de Datos, cuyo titular es IMHOTEP.</font></p>
                <h3 align="justify">    <font size="2" face="Times New Roman"><b>Finalidades
                de la recogida y tratamiento de los datos personales</b></font></h3>
                <p align="justify">    <font size="2" face="Times New Roman">Los
                        datos que suministran los candidatos a través del formulario de registro
                        habilitado al efecto en CASTELLON EMPLEO. ES son recabados por IMHOTEP
                        con la finalidad de gestión de la bolsa de candidatos y la prestación
                de los servicios de CASTELLON EMPLEO. ES a los candidatos. </font></p>
                <h3 align="justify">    <font size="2" face="Times New Roman"><b>Carácter
                            obligatorio o facultativo de la información facilitada por el candidato
                y veracidad de los datos</b></font></h3>
                <p align="justify">    <font size="2" face="Times New Roman">Los
                        campos marcados con un asterisco (*) en el formulario de registro a
                        cumplimentar por el candidato son estrictamente necesarios para atender
                        a su petición, siendo voluntaria la inclusión de datos en los campos
                restantes.</font></p>

                <p align="justify">    <font size="2" face="Times New Roman">El
                        Candidato garantiza que los datos personales facilitados a IMHOTEP son
                        veraces y se hace responsable de comunicar cualquier modificación de
                los mismos.</font></p>
                <p align="justify">    <font size="2" face="Times New Roman">El
                        Candidato garantiza que toda la información de carácter personal que
                        facilite es exacta y está puesta al día de forma que responde con
                        veracidad a la situación actual del candidato. Corresponde y es obligación
                        del candidato mantener, en todo momento, sus datos actualizados, siendo
                        el candidato el único responsable de la inexactitud o falsedad de los
                        datos facilitados y de los perjuicios que pueda causar por ello a IMHOTEP
                o a terceros con motivo de la utilización de los servicios ofrecidos.</font></p>
                <h3 align="justify">    <font size="2" face="Times New Roman"><b>Medidas
                de seguridad</b></font></h3>
                <p align="justify">    <font size="2" face="Times New Roman"><b>CASTELLON
                        EMPLEO. ES</b> pone en conocimiento de los candidatos que ha adoptado
                        las medidas de índole técnica y organizativas reglamentariamente establecidas,
                        que garantizan la seguridad de los datos de carácter personal y evitan
                        su alteración, pérdida, tratamiento o acceso no autorizado, habida
                        cuenta del estado de la tecnología, la naturaleza de los datos almacenados
                        y los riesgos a que estén expuestos, todo ello de conformidad con lo
                        establecido en el Real Decreto 1720/2007, de 21 de diciembre, por el
                        que se aprueba el Reglamento de desarrollo de la Ley Orgánica 15/1999,
                        de 13 de diciembre, de protección de datos de carácter personal y
                        otros procedimientos de control para la seguridad de los sistemas de
                información.</font></p>
                <h3 align="justify">    <font size="2" face="Times New Roman"><b>Consentimiento
                del candidato para el tratamiento y cesión de los datos personales</b></font></h3>

                <p align="justify">    <font size="2" face="Times New Roman">Al
                        rellenar el primer formulario y hacer clic para enviar los datos, el
                        candidato/candidata manifiesta haber leído y aceptado expresamente
                        la presente política de privacidad incluidas dentro de las condiciones
                        legales del Candidato, y otorga su consentimiento inequívoco y expreso
                        al tratamiento de sus datos personales conforme a las finalidades informadas
                        y servicios que presta <b>CASTELLON EMPLEO. ES</b>, así como la cesión
                        de sus datos personales a terceros para el cumplimiento del servicio
                        (con los condicionantes que se especifican en el apartado de control
                        de privacidad). A estos efectos se entiende por Tercero &quot;las entidades
                        y/o empresas que utilizan los servicios de <a href="http://castellonempleo.es" target="_blank">castellonempleo.es</a> para la
                búsqueda y selección de personal&quot;.</font></p>
                <p align="justify">    <font size="2" face="Times New Roman">Igualmente,
                        los candidatos autorizan expresamente a <b>CASTELLON EMPLEO. ES</b>
                        a acceder a sus datos personales y curriculares, independientemente
                        de su nivel de privacidad, a fin y efecto de poder informarles de ofertas
                de trabajo concretas e idóneas a su perfil profesional.</font></p>
                <h3>    <font size="2" face="Times New Roman"><b>Cookies
                e IPs</b></font></h3>

                <p>    <font size="2" face="Times New Roman">El
                        Candidato acepta el uso de cookies y seguimientos de IPs. Nuestro analizador
                        de tráfico del site utiliza cookies y seguimientos de IPs que nos permiten
                        recoger datos a efectos estadísticos como: fecha de la primera visita,
                        número de veces que se ha visitado, fecha de la última visita, URL
                        y dominio de la que proviene, explorador utilizado y resolución de
                        la pantalla; así como datos para fines promocionales. Las cookies activadas
                        se actualizarán cada vez que el Candidato entra en la página Web con
                        su login. Cuando el Candidato no haya realizado un login después de
                seis meses, la cookie será eliminada.</font></p>
                <p>    <font size="2" face="Times New Roman">No
                        obstante, el candidato si lo desea puede desactivar y/o eliminar estas
                cookies siguiendo las instrucciones de su navegador de Internet.</font></p>
                <p>    <font size="2" face="Times New Roman">IMHOTEP
                        S.L. no utiliza técnicas de &quot;spamming&quot; y únicamente tratará
                        los datos que el candidato transmita mediante los formularios electrónicos
                habilitados en este Sitio Web o mensajes de correo electrónico.</font></p>
                <p>    <font size="2" face="Times New Roman">El
                        tratamiento de los datos de carácter personal, así como el envío
                        de comunicaciones comerciales realizadas por medios electrónicos, son
                        conformes a la Ley Orgánica 15/1999, de 13 de diciembre, de Protección
                        de Datos de Carácter Personal (B.O.E. de 14 de diciembre de 1999) y
                        a la Ley 34/2002, de 11 de julio, de servicios de la Sociedad de Información
                y de Comercio Electrónico (B.O.E. de 12 de julio de 2002).</font></p>
                <h3>    <font size="2" face="Times New Roman"><b>Derecho
                            de acceso, rectificación, oposición, cancelación y revocación del
                consentimiento otorgado y veracidad y actualización de los datos.</b></font></h3>

                <p>    <font size="2" face="Times New Roman">El
                        candidato puede ejercitar los derechos de acceso, rectificación, cancelación
                        y oposición, así como a darse de baja de los servicios de <b>CASTELLON
                EMPLEO. ES</b>.</font></p>
                <p>    <font size="2" face="Times New Roman">Igualmente,
                        el candidato puede, en cualquier momento, revocar el consentimiento
                        otorgado para el tratamiento de sus datos, sin que puedan atribuirse
                a esta revocación efectos retroactivos.</font></p>
                <p>    <font size="2" face="Times New Roman">Estos
                        derechos pueden hacerse efectivos mediante la propia configuración
                        de la página web, o ante el responsable del fichero. En caso de problemas
                        para la realización efectiva online así como para cualquier tipo de
                        duda o controversia respecto a nuestra política de privacidad de datos
                se podrán dirigir directamente a:</font></p>
                <p>    <font size="2" face="Times New Roman"><i>Departamento
                de atención al Candidato</i></font></p>
                <p>    <font size="2" face="Times New Roman"><i><a href="mailto:info@castellonempleo.es" target="_blank">info@castellonempleo.es</a></i></font></p>

                <p>    <font size="2" face="Times New Roman"><i>C/
                Prim 12  3º D</i></font></p>
                <p>    <font size="2" face="Times New Roman"><i>12003
                - Castellón</i></font></p>
                <p>    <font size="2" face="Times New Roman"><i>Tel:
                964 26 08 24</i></font></p>
                <p>    <font size="2" face="Times New Roman"><i>Fax:
                964 22 91 06</i></font></p>
                <h3>    <font size="2" face="Times New Roman"><b>Responsabilidad</b></font></h3>
                <p>    <font size="2" face="Times New Roman">El
                        candidato garantiza a IMHOTEP S.L.  que toda la información de carácter
                        personal que facilite es exacta y está puesta al día de forma que
                        responde con veracidad a la situación actual del candidato. Corresponde
                        y es obligación del candidato mantener, en todo momento, sus datos
                        actualizados, siendo el candidato el único responsable de la inexactitud
                        o falsedad de los datos facilitados a IMHOTEP y de los perjuicios que
                        pueda causar por ello a IMHOTEP o a terceros con motivo de la utilización
                de los servicios ofrecidos por <a href="http://castellonempleo.es" target="_blank">castellonempleo.es</a>. </font></p>

                <h3>    <font size="2" face="Times New Roman"><b>Responsable
                del fichero y tratamiento de los datos</b></font></h3>
                <p>    <font size="2" face="Times New Roman">IMHOTEP
                S.L. CIF: B-12750410.</font></p>
                <p>      <font size="2" face="Times New Roman">Inscrita
                    en el Registro Mercantil de Castellón </font><font size="2" face="Arial">Tomo:
                    1408</font><font size="3" face="Times New Roman"> </font><font size="2" face="Times New Roman">Libro:
                    970</font><font size="3" face="Times New Roman"> </font><font size="2" face="Times New Roman">Folio:
                    44</font><font size="3" face="Times New Roman"> </font><font size="2" face="Times New Roman">Hoja:
                    CS-28005</font><font size="3" face="Times New Roman"> </font><font size="2" face="Times New Roman">Inscrip:
                1.</font></p>

                <p>    <font size="2" face="Times New Roman">CASTELLON
                (domicilio social): c/ Prim nº 12  3º  D, Castellón.</font></p>
                <h3>    <font size="2" face="Times New Roman"><b>Enlaces,
                &quot;links&quot; a páginas de terceros</b></font></h3>
                <p>    <font size="2" face="Times New Roman">IMHOTEP
                        incluye dentro de sus contenidos enlaces con sitios pertenecientes y/o
                        gestionados por terceros con el objeto de facilitar el acceso a información
                disponible a través de Internet.</font></p>
                <p>    <font size="2" face="Times New Roman">IMHOTEP
                        no asume ninguna responsabilidad derivada de la existencia de enlaces
                        entre los contenidos de este sitio y contenidos situados fuera del mismo
                        o de cualquier otra mención de contenidos externos a este sitio. Tales
                        enlaces o menciones tienen una finalidad exclusivamente informativa
                        y, en ningún caso, implican el apoyo, aprobación, comercialización
                        o relación alguna entre IMHOTEP y las personas o entidades autoras
                        y/o gestoras de tales contenidos o titulares de los sitios donde se
                encuentren.</font></p>
                <h3>    <font size="2" face="Times New Roman"><b>Legislación
                Aplicable y Jurisdicción</b></font></h3>

                <p>    <font size="2" face="Times New Roman">Las
                        presentes Condiciones Legales y el resto de condiciones del Sitio Web
                se regirán por la legislación española.</font></p>
                <p>    <font size="2" face="Times New Roman">Para
                        cuantas cuestiones pudieran suscitarse o acciones ejercitarse derivadas
                        de la prestación de los servicios y contenidos de IMHOTEP  y sobre
                        la interpretación, aplicación, cumplimiento o incumplimiento de lo
                        aquí establecido, IMHOTEP y el CANDIDATO, con renuncia expresa a cualquier
                        otro fuero que pudiera corresponderles, se someten a la jurisdicción
                de los Juzgados y Tribunales de Castellón.</font></p>
                <h2>    <a name="0.1_legalem"></a><font size="2" face="Arial"><b><i>Condiciones
                legales para Empresas</i></b></font></h2>
                <p>    <a><font color="#0000FF" size="2" face="Times New Roman"><u>Imprimir
                condiciones legales para empresas</u></font></a><font size="2" face="Times New Roman"> </font></p>
                <h3>    <font size="2" face="Times New Roman"><b>Derecho
                de Información</b></font></h3>
                <p>    <font size="2" face="Times New Roman">Si
                        el usuario decide registrarse en <b>CASTELLON EMPLEO. ES</b>, se solicitarán
                        los datos estrictamente necesarios para la consecución de los fines
                y finalidades a los que está destinado el sitio Web.</font></p>

                <p>    <font size="2" face="Times New Roman">Para
                        poder dar de alta al usuario, éste deberá completar un formulario
                        electrónico inicial que consta de dos pasos lo cual conlleva facilitar
                        datos de carácter personal. Los datos recabados en este formulario
                        son los adecuados, pertinentes y no excesivos en relación con el ámbito,
                        las finalidades y servicios determinados, explícitos y legítimos de
                <a href="http://castellonempleo.es" target="_blank">castellonempleo.es</a></font></p>
                <ol type="1" style="margin-left:30px;">
                    <li><font size="2" face="Times New Roman">En el primer paso
                            el usuario debe completar sus datos personales (nombre, apellidos, correo
                            electrónico, nombre y teléfono de la empresa) y aceptar las reglas
                            de uso, las características del servicio y la política de privacidad
                            de<b> CASTELLON EMPLEO. ES</b>. Seguidamente, el usuario recibirá un
                            correo electrónico a la dirección de correo electrónico por él indicada,
                            con la finalidad de validar el proceso de alta y verificar la dirección
                            de correo electrónico. Si no se verifica la dirección de correo electrónico,
                            el alta del usuario no será tramitada y se procederá a su cancelación
                    en el plazo de 48 horas; </font></li>
                    <li><font size="2" face="Times New Roman">En el segundo paso,
                            el usuario debe completar los datos de la empresa (identificación fiscal,
                            tipo de empresa y descripción de la empresa). Estos datos se procederán
                            a validar por el personal de Atención al Cliente de <b>CASTELLON EMPLEO.
                            ES</b>. Tramitada y validada la empresa, el usuario podrá contratar
                    los servicios que ofrece <b>CASTELLON EMPLEO. ES</b>. </font></li>

                </ol>
                <p>    <font size="2" face="Times New Roman">De
                        conformidad con lo establecido en la Ley Orgánica 15/1999, de 13 de
                        diciembre, de protección de datos de carácter personal, se informa
                        al usuario que el tratamiento de los datos de los usuarios está enfocado
                        a la realización de los servicios del portal de<b>
                        CASTELLON EMPLEO. ES</b>, siempre dentro del marco normativo establecido
                        y que los datos personales que facilite serán incorporados a un fichero
                        registrado ante la Agencia Española de Protección de Datos, cuyo titular
                es IMHOTEP  </font></p>
                <h3>    <font size="2" face="Times New Roman"><b>Finalidades
                de la recogida y tratamiento de los datos personales</b></font></h3>
                <p>    <font size="2" face="Times New Roman">Las
                        finalidades de la recogida y tratamiento de los datos personales suministrados
                por el usuario son las siguientes:</font></p>
                <ol type="1" style="margin-left:30px;">
                    <li><font size="2" face="Times New Roman">Gestión de las
                    ofertas </font></li>

                    <li><font size="2" face="Times New Roman">Prestación de los
                    servicios de <a href="http://castellonempleo.es" target="_blank">castellonempleo.es</a> a clientes, que incluye lo siguiente: </font></li>
                    <ul type="DISC" style="margin-left:40px;">
                        <li><font size="2" face="Times New Roman">Inserción de ofertas
                        de empleo en la bolsa de empleo <b>CASTELLON EMPLEO. ES.</b>  </font></li>
                        <li><font size="2" face="Times New Roman">Recepción de los
                        CV inscritos en las ofertas realizadas. </font></li>
                        <li><font size="2" face="Times New Roman">Gestión del proceso
                        de selección. </font></li>

                        <li><font size="2" face="Times New Roman">Servicios relacionados
                                con la gestión de la selección de candidatos y otros servicios que
                                <a href="http://castellonempleo.es" target="_blank">castellonempleo.es</a> considere de interés para las empresas: Formación,
                                red de contactos profesionales, servicio de noticias, promociones y
                        ofertas de terceras entidades. </font></li>
                        <li><font size="2" face="Times New Roman">Servicio de comunicaciones
                        electrónicas. </font></li>
                    </ul>
                    <li><font size="2" face="Times New Roman">Servicios de comunicaciones
                    electrónicas y comerciales por vía electrónica o telefónica: </font></li>
                    <ul type="DISC" style="margin-left:40px;">
                        <li><font size="2" face="Times New Roman">Realización de
                                comunicaciones comerciales de IMHOTEP  (tratamientos con fines
                        de publicidad y de prospección comercial).</font></li>

                </ul></ol>
                <ul><ul><p>    <font size="2" face="Times New Roman">Para
                                la consecución de los fines del sitio Web y con la finalidad de ayudar
                                al usuario a finalizar el proceso de alta, IMHOTEP  podrá ponerse en
                                contacto con el usuario que haya completado el paso primero del formulario
                                de alta, especificado en el apartado de Derecho de Información, y que
                haya aceptado las Reglas de Uso y la presente Política de privacidad.</font></p></ul></ul>
                <ul><ul type="DISC" style="margin-left:40px;">
                        <li><font size="2" face="Times New Roman"><b>CASTELLON EMPLEO.
                                ES.</b>   remitirá a los usuarios registrados en el sitio web,
                                mediante comunicaciones electrónicas (correo electrónico, sms, o cualquier
                                nuevo medio de comunicación electrónica) noticias y promociones relacionadas
                                con <a href="http://castellonempleo.es" target="_blank">castellonempleo.es</a>, el sector de la selección de personal, la formación,
                                así como otras actividades empresariales que <a href="http://castellonempleo.es" target="_blank">castellonempleo.es</a> considere
                        de interés para sus clientes.</font></li>
                </ul></ul>
                <ul><ul><p><font size="2" face="Times New Roman">  </font></p></ul></ul>

                <h3>    <font size="2" face="Times New Roman"><b>Medidas
                de seguridad</b></font></h3>
                <p>    <font size="2" face="Times New Roman"><b>CASTELLON
                        EMPLEO. ES</b>  pone en conocimiento de los clientes que ha adoptado
                        las medidas de índole técnica y organizativas reglamentariamente establecidas,
                        que garantizan la seguridad de los datos de carácter personal y evitan
                        su alteración, pérdida, tratamiento o acceso no autorizado, habida
                        cuenta del estado de la tecnología, la naturaleza de los datos almacenados
                        y los riesgos a que estén expuestos, todo ello de conformidad con lo
                        establecido en el Real Decreto 1720/2007, de 21 de diciembre, por el
                        que se aprueba el Reglamento de desarrollo de la Ley Orgánica 15/1999,
                        de 13 de diciembre, de protección de datos de carácter personal y
                        otros procedimientos de control para la seguridad de los sistemas de
                información.</font></p>
                <h3>    <font size="2" face="Times New Roman"><b>Consentimiento
                del usuario para el tratamiento y cesión de los datos personales</b></font></h3>
                <p>    <font size="2" face="Times New Roman">Al
                        rellenar el primer formulario y hacer clic para enviar los datos, el
                        usuario manifiesta haber leído y aceptado expresamente la presente
                        política de privacidad y las reglas de uso, y otorga su consentimiento
                        inequívoco y expreso al tratamiento de sus datos personales conforme
                        a las finalidades informadas y servicios que presta <b>CASTELLON EMPLEO.
                        ES, </b>ésta  no cederá sus datos personales a terceros, sin el consentimiento
                previo.</font></p>
                <h3>    <font size="2" face="Times New Roman"><b>Derecho
                            de acceso, rectificación, oposición, cancelación y revocación del
                consentimiento otorgado y veracidad y actualización de los datos</b></font></h3>

                <p>    <font size="2" face="Times New Roman">El
                        usuario puede ejercitar los derechos de acceso, rectificación, cancelación
                        y oposición, así como a darse de baja de los servicios de <b>CASTELLON
                EMPLEO. ES</b> .</font></p>
                <p>    <font size="2" face="Times New Roman">Igualmente,
                        el usuario puede, en cualquier momento, revocar el consentimiento otorgado
                        para el tratamiento de sus datos, sin que puedan atribuirse a esta revocación
                efectos retroactivos.</font></p>
                <p>    <font size="2" face="Times New Roman">Estos
                        derechos pueden hacerse efectivos mediante la propia configuración
                        de la página Web, a través del menú de empresas o ante el responsable
                        del fichero. En caso de problemas para la realización efectiva online
                        así como para cualquier tipo de duda o controversia respecto a nuestra
                    política de privacidad de datos se podrán dirigir directamente a:</font> <br>
                </p>
                <p>    <font size="2" face="Times New Roman"><a href="mailto:info@castellonempleo.es" target="_blank">info@castellonempleo.es</a></font></p>

                <p>    <font size="2" face="Times New Roman">c/
                Prim nº 12  3º  D, 12003 Castellón </font></p>
                <p>    <font size="2" face="Times New Roman">Tel:
                964 26 08 24</font></p>
                <p>    <font size="2" face="Times New Roman">Fax:
                964 22 91 06</font></p>
                <p>    <font size="2" face="Times New Roman">Horario:
                De lunes a viernes de 9,00 a 14,00 y 16,00 a 19,00.</font></p>
                <h3>    <font size="2" face="Times New Roman"><b>Responsabilidad</b></font></h3>
                <p>    <font size="2" face="Times New Roman">El
                        usuario garantiza a <b>CASTELLON EMPLEO. ES</b>  que toda la información
                        de carácter personal y empresarial que facilite es exacta y está puesta
                        al día de forma que responde con veracidad a la situación actual del
                        usuario y de la empresa. Corresponde y es obligación del usuario mantener,
                        en todo momento, sus datos actualizados, siendo el usuario el único
                        responsable de la inexactitud o falsedad de los datos facilitados a
                        IMHOTEP<b> </b> y de los perjuicios que pueda causar por ello a IMHOTEP
                        o a terceros con motivo de la utilización de los servicios ofrecidos
                por<b> CASTELLON EMPLEO. ES</b>.</font></p>

                <h3>    <font size="2" face="Times New Roman"><b>Responsable
                del fichero y tratamiento de los datos</b></font></h3>
                <p>    <font size="2" face="Times New Roman">IMHOTEP
                S.L. CIF: A-12750410</font></p>
                <p>    <font size="2" face="Times New Roman">CASTELLON
                (domicilio social): c/ Prim nº 12  3º  D</font></p>
                <p>    <font size="2" face="Times New Roman">12003
                Castellón.</font></p>
                <h1>    <font size="2" face="Arial"><b>Reglas
                de uso</b></font></h1>
                <p>    <font size="2" face="Times New Roman">Las
                        reglas de uso aquí descritas son aplicables a las ofertas y CV publicados
                        en<b> CASTELLON EMPLEO. ES</b>. y a la conducta de aquellos que están
                        registrados como usuarios de nuestra web site. Todo usuario debe estar
                        de acuerdo con estas reglas de uso antes de completar el proceso de
                registro. </font></p>

                <p>    <font size="2" face="Times New Roman">Si
                        observas que algún contenido de <b>CASTELLON EMPLEO. ES</b>. no cumple
                estas reglas, no dudes en contactar con nosotros. </font></p>
                <p>    <font size="2" face="Times New Roman">Si
                        eres una empresa y quieres conocer las condiciones de contratación
                        de servicios de pago y de uso de servicios gratuitos, deberás leer
                        las Condiciones de disponibilidad del servicio.  <br>
                        <br>
                        <b>1.</b> Los datos requeridos tanto en el alta de empresa como en la
                        inserción de ofertas y CVs deben ser completados con información veraz.  <br>
                        <br>
                        <b>2.</b> Los trabajos a ofertar deben ofrecer contratos legalmente
                        válidos.  <br>

                <b>CASTELLON EMPLEO. ES</b>. no aceptará ofertas: </font></p>
                <ul type="DISC" style="margin-left:40px;">
                    <li><font size="2" face="Times New Roman">Que exijan inversión
                            de dinero por parte del candidato, salvo autorización expresa y por
                    escrito de<b> CASTELLON EMPLEO. ES</b>.. </font></li>
                    <li><font size="2" face="Times New Roman">De empresas &quot;pirámide&quot;
                    o negocios multinivel (Multi-Level Marketing). </font></li>
                    <li><font size="2" face="Times New Roman">De oportunidades
                    de negocio. </font></li>

                    <li><font size="2" face="Times New Roman">Relacionadas con
                    la industria del entretenimiento de adultos u ocio nocturno. </font></li>
                    <li><font size="2" face="Times New Roman">Inscripción de
                    menores sin la tutela de sus padres o tutor. </font></li>
                    <li><font size="2" face="Times New Roman">Susceptibles de
                            engaño o que conlleven cualquier ilegalidad de acuerdo con el marco
                    comunitario vigente. </font></li>
                    <li><font size="2" face="Times New Roman">Discriminatorias
                            por razón de raza, sexo, religión, opinión, nacionalidad, discapacidad
                    o cualquier otra circunstancia personal o social. </font></li>
                </ul>
                <p> <font size="2" face="Times New Roman"><b>3.</b> Toda la información
                        incluida en las ofertas debe ser clara y concisa. Aquéllas que requieran
                        un posterior contacto por parte del candidato para obtener más información
                acerca de la empresa u oferta no están permitidas. </font></p>

                <p> <font size="2" face="Times New Roman"> <br>
                        <b>4.</b> Utiliza lenguaje profesional en la redacción de tus ofertas.
                        Recuerda que tus anuncios son un reflejo de la compañía que representas.  <br>
                        <br>
                        <b>5.</b> Si ves alguna oferta inapropiada en <b>CASTELLON EMPLEO. ES</b>.,
                        por favor contacta con nosotros a través de nuestro servicio de atención
                        al candidato o a través de nuestro servicio de atención a empresas.  <br>
                        <br>

                        <b>6.</b> <b>CASTELLON EMPLEO. ES</b>. no permite la inserción de ofertas
                        que deterioren la calidad del servicio. Están prohibidas la inserción
                de ofertas: </font></p>
                <ul type="DISC" style="margin-left:40px;">
                    <li><font size="2" face="Times New Roman">Con datos de contacto
                            en la descripción de la oferta y en el mensaje de respuesta a candidatos:
                            no estará permitido facilitar los datos de contacto de la empresa en
                            este campo. Se consideran datos de contacto, el teléfono, el fax, la
                    dirección y/o el correo electrónico. </font></li>
                    <li><font size="2" face="Times New Roman">Duplicadas: se entiende
                            por duplicación la inserción de ofertas que ofrecen el mismo puesto,
                            en la misma ciudad y/o en misma o diferente fecha. Para distinguirlas
                            se podrán utilizar referencias siempre y cuando sean ofertas con diferentes
                    categorías profesionales. </font></li>
                    <li><font size="2" face="Times New Roman">Las ofertas deben
                            referirse a vacantes disponibles en las empresas. No está permitido
                            incluir URLs en las ofertas que redireccionen al usuario a la sección
                    de empleo de la compañía. </font></li>
                    <li><font size="2" face="Times New Roman">Cada oferta debe
                            corresponder a un solo puesto. A diferentes puestos, habrá que incluir
                            diferentes ofertas. Ej. incorrecto: Oferta 1: Aux. Administrativo/Conserje/<WBR>Profesora
                    de Inglés </font></li>

                    <li><font size="2" face="Times New Roman">Ej. correcto: Oferta
                            1: Aux. Administrativo Oferta 2: Conserje Oferta 3: Profesora de Inglés.
                            Si para un mismo puesto tienes diferentes vacantes, puedes indicarlo
                    libremente en el campo Vacante de la inserción de oferta. </font></li>
                </ul>
                <p>    <font size="2" face="Times New Roman"><b>7.</b>
                        Cualquier empresa que inserte una oferta que contravenga la legalidad
                        vigente asumirá la responsabilidad exclusiva de los perjuicios y consecuencias
                        derivadas de la misma, eximiendo a <b>CASTELLON EMPLEO. ES</b>. de cualquier
                        responsabilidad.  <br>
                        <br>
                        <b>8.</b> Protege tu password. Si otras personas hacen un mal uso de <b>

                        CASTELLON EMPLEO. ES</b>. usando tu cuenta corres el riesgo de perder
                        acceso al servicio. Te recomendamos que no uses la misma palabra de
                        usuario para tu password.  <br>
                        <br>
                        <b>9.</b> <b>CASTELLON EMPLEO. ES</b>. no puede controlar todas y cada
                        una de las ofertas publicadas, de manera que no puede asumir la responsabilidad
                        sobre los contenidos. De todas maneras, periódicamente se revisan las
                        ofertas y CV para asegurar que estas reglas de uso se cumplan.  <br>
                        <br>
                        <b>10.</b> <b>CASTELLON EMPLEO. ES</b>. no permite la difusión de e-mails
                        comerciales no autorizados. Los usuarios implicados en esta actividad
                        verán suspendidas sus cuentas.  <br>

                        <br>
                        <b>11.</b> Las ofertas de trabajo publicadas en <b>CASTELLON EMPLEO.
                        ES</b>. son únicamente para uso interno de las empresas con vacantes.
                        No está permitido vender las ofertas de trabajo de <a href="http://castellonempleo.es" target="_blank">castellonempleo.es</a>
                        a terceras personas.  <br>
                        <br>
                        Si quieres usar el servicio gratuito de <b>CASTELLON EMPLEO. ES</b>.,
                        contacta con nosotros a través de nuestro servicio de atención a Empresas,
                        o si bien quieres informarte sobre nuestros servicios de valor añadido,
                    puedes hacerlo a través del </font><a href="http://www.infojobs.net/servicios.cfm" target="_blank"><font color="#0000FF" size="2" face="Times New Roman"><u>Formulario
                    de Contacto</u></font></a><font size="2" face="Times New Roman">.  <br>

                        <br>
                        Las empresas, ofertas de trabajo y CV que violen cualquiera de estas
                        condiciones serán retirados de la web site. La interpretación de las
                        reglas de uso es de competencia exclusiva de <b>CASTELLON EMPLEO. ES</b>.
                        Estas normas pueden ser modificadas en cualquier momento sin necesidad
                de previo aviso o notificación.</font> <br></p>


            </div>

        </div>
    </div>
    </div>

    <div id="footer">
        <div id="footer-wrap">
            <div class="top"></div>
            <div class="content">

            </div>
            <div class="bottom"></div>
        </div>
    </div>
    <div id="publicity">
        <div id="publicity-wrap">
            <div class="top"></div>
            <div class="content">
            </div>
            <div class="bottom"></div>
        </div>
    </div>
    <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
        try {
            var pageTracker = _gat._getTracker("UA-7938750-2");
            pageTracker._trackPageview();
        } catch(err) {}</script>

</body>
<HEAD>
    <META HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">
</HEAD>

</html>